*~
*#*
*.png
*test*

/.lsp-session-v1
/.org-id-locations
/.venv/
/auto-save-list/
/bookmarks
/eln-cache/
/elpa/
/history
/org-persist/
/org-roam.db
/projectile-bookmarks.eld
/projects
/recentf
/savefile/
/tramp
/transient/
/tree-sitter/
/url/

/straight/*
!/straight/versions/
!/straight/versions/default.el
